:root {
    --size: 'from js';
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-image: url("fonts/life-source-inconnue.png");
}

body canvas {
    position: absolute;
    left: calc(50% - (var(--size))/2);
    top: calc(50% - (var(--size))/2);
    width: var(--size);
    height: var(--size);
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

body canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

body li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}
#start:active {
    transform: scale(.9);
    transition: all 100ms ease;
}
#start img {
    transition: all .5s ease;
    z-index: 2;
}
.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}
#start:hover img {
    transform: scale(3) translate(50%);
}
.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}
#start:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
}
#start:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}


.alive{
    position: absolute;
    float: left; /* Utilisation de float pour placer l'élément à gauche */
    margin-right: 10px; /* Marge à droite pour espacer l'élément du texte voisin */
    left: 9%;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px outset;
    border-radius: 20px;
    padding: 10px;
    background-color: #2FA1D6;
}

@media screen and (max-width: 768px) {
    .alive {
      position: fixed;
      bottom: 10px; /* Ajustez la distance depuis le bas selon votre préférence */
      left: 50%;
      transform: translateX(-50%);
    }
  }